@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow: hidden;
  }

  #App {
    @apply h-screen grid [grid-auto-rows:auto_minmax(0,1fr)];
  }

  img {
    object-fit: cover;
  }
}

@layer components {
  .container {
    @apply px-4 mx-auto;
  }

  .input[aria-invalid="true"] {
    @apply input-error placeholder:text-error text-error;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh;
    min-height: 100dvh;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 0.5vw;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    @apply bg-neutral-content;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-400;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
